<nav id="page-nav-wrapper" class="w-full flex justify-between px-4 sm:px-12">
  <a href="/" class="logo text-white text-4xl">
    zpo.blog
  </a>
  <div class="right ml-auto flex items-center">
    <ul class="nav-list flex shadow-sm items-center">
      <% for (const menu in menus) { %>
        <% if (menus.hasOwnProperty(menu)) { %>
          <% const current = menus[menu] %>
          <li class="nav-item">
            <% if (is_current(current.url)) { %>
              <a href=<%= current.url %> class="shadow rounded-full text-sm inline-block py-2 px-6 mx-1 text-gray-400 is_current"><%= current.cn %></a>
            <% } else { %>
              <a href=<%= current.url %> class="shadow rounded-full text-sm inline-block py-2 px-6 mx-1 text-gray-400"><%= current.cn %></a>
            <% } %>
          </li>
        <% } %>
      <% } %>
      <li class="nav-item">
        <a href="javascript:;" class="search-local-btn shadow rounded-full text-xl inline-block py-2 px-6 mx-1 text-gray-400">
          <i class="iconfont icon-search"></i>
        </a>
      </li>
    </ul>
    <span id="m-menu-btn" class="shadow rounded-full inline-block  text-gray-400">
      <i class="iconfont icon-menu" ></i>
    </span>
  </div>
</nav>
<div id="m-nav-list-wrapper" class="m-nav-list-wrapper hide">
  <ul class="m-nav-list shadow bg-black">
    <% for (const menu in menus) { %>
      <% if (menus.hasOwnProperty(menu)) { %>
        <% const current = menus[menu] %>
        <li class="border-b border-solid border-gray-700">
          <% if (is_current(current.url)) { %>
            <a href=<%= current.url %> class="w-full text-lg inline-block py-4 px-6 text-gray-400 tracking-wide is_current"><%= current.cn %></a>
          <% } else { %>
            <a href=<%= current.url %> class="w-full text-lg inline-block py-4 px-6 text-gray-400 tracking-wide"><%= current.cn %></a>
          <% } %>
        </li>
      <% } %>
    <% } %>
    <li>
      <a href="javascript:;" class="w-full search-local-btn text-lg inline-block py-4 px-6 text-gray-400 tracking-wide">
        搜索
      </a>
    </li>
  </ul>
</div>

<script>
  window.addEventListener('load', function () {
    var menuBtn = document.getElementById('m-menu-btn')
    var menuList = document.getElementById('m-nav-list-wrapper')
    function handleScroll (params) {
      menuList.classList.add('hide')
      menuList.removeEventListener('click', handleScroll)
    }
    menuBtn.addEventListener('click', function () {
      if (menuList.classList.contains('hide')) {
        menuList.classList.remove('hide')
        menuList.addEventListener('click', handleScroll)
      } else {
        menuList.classList.add('hide')
      }
    })
  })
</script>