<% var current = 0 %> 
<section id="archives-page" class="relative flex flex-col -mt-12 justify-center w-full items-center">
  <ul class="w-full pb-4 pt-4 rounded bg-white">
    <% var year = 0 %> 
    <% page.posts.sort('date', -1).each(function (post) { %>
     <% if(date(post.date, "YYYY") && date(post.date, "YYYY") !== year) { %>
        <% year = date(post.date, "YYYY") %> 
        <% var archiveYear = '/archives/' +  date(post.date, "YYYY")%> 
        <a href=<%- url_for(archiveYear) %>  class="block mt-8 mb-4 font-bold text-xl pb-4 border-b border-gray-300"><%= date(post.date, "YYYY") %></a>
     <% } %>
     <li class="archive flex rounded">
        <a class="inline-block flex-1 flex py-2" href=<%- url_for(post.path) %> >
          <span class="date inline-block mr-4 text-gray-600"><%= date(post.date, 'MM-DD') %> </span>
          <span class="title font-medium text-gray-700"><%= post.title %></span>
        </a>
     </li>
   <% }) %> 
   <%- partial('_partial/paginator') %> 
  </ul>
</section>