<section class="posts-section flex relative justify-center flex-wrap">
  <ul class="posts w-full flex-wrap flex justify-center">
    <% page.posts.each(function (post, index) { %>
      <% const image = post.img || "https://dummyimage.com/240x160/d6cfd6.png" %>
      <li class="post w-full mb-10">
        <div class="cover rounded sm:float-left bg-gray-400 shadow-sm">
          <div class="image" style="background-image: url(<%= image %>)"></div>
        </div>
        <div class="info sm:h-full pl-6 overflow-hidden flex flex-wrap flex-col">
          <a title=<%= post.title %> href=<%= url_for(post.path) %> class="title block w-full font-bold text-2xl"><%= post.title %> </a>
          <% var excerpt = '' %>
          <% if(post.excerpt) { %>
            <% excerpt = strip_html(post.excerpt).substr(0, 200) %>
          <% } else { %>
            <% excerpt = strip_html(post.content).substr(0, 200) %>
          <% } %>
          <div title=<%= excerpt %> class="desc block w-full mt-2 mb-auto text-gray-600 text-base leading-relaxed tracking-wider font-medium"><%= excerpt %></div>
          <div class="flex text-gray-600 mt-2 text-base font-medium">
            <%- partial('_partial/post-meta', { post: post, categories: post.categories }) %> 
          </div>
        </div>
      </li>
    <% }) %>    
  </ul>
  <%- partial('_partial/paginator') %> 
</section> 
    <!-- <p>
      <strong> Hi, </strong> 
      I'm zpo, a front-end developer.
      <br>
      <br>
      This is my blog, 
      <br>
      <br>
      where I will be posting a series of tutorials on front-end development!
      <br>
      <br>
      If you're interested in this piece of content, 
      <br>
      <br>
      <strong>let's get started!</strong>
    </p> -->