<header id="home-header" class="relative w-screen h-screen flex justify-center items-center flex-wrap">
  <h1 class="text-4xl">
    hexo极简主题--minimalism
  </h1>
  <nav class="absolute">
    <a href="" title="wechat" class="block my-4 text-sm text-white">github</a>
    <a href="" title="wechat" class="block my-4 text-sm text-white">wechat</a>
    <a href="" title="wechat" class="block my-4 text-sm text-white">QQ</a>
  </nav>
</header>

<main class="flex relative justify-center flex-wrap">
  <section class="posts-section rounded -mt-8 w-4/5 py-10 px-12 bg-white shadow-sm">
    <ul class="posts flex-wrap flex justify-center">
      <% page.posts.each(function (post, index) { %>
        <% const image = post.img || "https://dummyimage.com/240/160/d6cfd6.png" %>
        <li class="post w-full h-40 mb-10">
          <div class="cover rounded float-left h-full bg-gray-400 shadow-sm">
            <img src=<%= image %> class="rounded w-full h-full" alt="">
          </div>
          <div class="info h-full pl-6 overflow-hidden flex flex-wrap flex-col">
            <a title=<%= post.title %> href=<%= url_for(post.path) %> class="title block w-full font-bold text-2xl"><%= post.title %> </a>
            <% var excerpt = '' %>
            <% if(post.excerpt) { %>
              <% excerpt = strip_html(post.excerpt).substr(0, 200) %>
            <% } else { %>
              <% excerpt = strip_html(post.content).substr(0, 200) %>
            <% } %>
            <div title=<%= excerpt %> class="desc block w-full mt-2 mb-auto text-gray-600 text-base leading-relaxed tracking-wider font-medium"><%= excerpt %></div>
            <div class="flex text-gray-600 text-base font-medium">
              <div class="date"><%- date(post.date) %></div>
              <% if(post.categories.length > 0) { %>
                <div class="post-meta">
                  <i class="iconfont icon-category"></i>
                  <% post.categories.each(function(cate){ %>
                    <a href="<%= url_for(cate.path) %>"><%- cate.name %></a>
                  <% }) %>
                </div>
              <% } %>
              <% if(post.tags.length > 0) { %>
                <div class="post-meta">
                  <i class="iconfont icon-tags"></i>
                  <% post.tags.each(function(tag){ %>
                    <a href="<%= url_for(tag.path) %>"><%- tag.name %></a>
                  <% }) %>
                </div>
              <% } %>
            </div>
          </div>
        </li>
      <% }) %>    
    </ul>
    <% if (page.total) { %>
      <section class="pagination w-full flex justify-center my-4 ">
        <%- paginator({
          prev_text: '<i class="iconfont icon-arrowleft"></i>',
          next_text: '<i class="iconfont icon-arrowright"></i>',
          mid_size: 2,
          escape: false
        }) %>
      </section>
    <% } %> 
  </section> 
</main>
    <!-- <p>
      <strong> Hi, </strong> 
      I'm zpo, a front-end developer.
      <br>
      <br>
      This is my blog, 
      <br>
      <br>
      where I will be posting a series of tutorials on front-end development!
      <br>
      <br>
      If you're interested in this piece of content, 
      <br>
      <br>
      <strong>let's get started!</strong>
    </p> -->