<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- css('styles/normalize') %>
  <%- css('styles/tailwind') %> 
  <%- css('styles/font') %> 
  <%- css('styles/index') %>
  <%- js('javascripts/typed.js@2.0.11') %> 
  <link rel="stylesheet" href="http://at.alicdn.com/t/font_1946622_pfrkpyhdpn.css">
</head>
<body class="bg-gray-200 w-full">
  <%- partial('_partial/nav', { menus: theme.menus }) %> 
  <%- partial('_partial/search') %> 
  <%- partial('_partial/header') %> 
  <%- body %>
  <%- partial('_partial/footer') %> 
  <%- partial('_partial/loading') %> 
  <%- js(['javascripts/index']) %> 
  <%- js(['javascripts/search']) %> 
</body>
</html>
