<main class="relative w-full flex justify-center ">
  <section class="flex w-4/5 px-10 -mt-12 rounded justify-center items-stretch shadow-sm bg-white">
    <aside class="border-r border-gray-300">
      <div id="post-toc" class="py-4 mt-8">
        <h4 class="text-xl mb-2"><a href="#">Top：文章目录</a></h4>
        <% if (page.content) { %>
          <%- toc(page.content, {max_depth: 3}) %>
        <% } else { %>
          暂无目录
        <% } %>
      </div>
    </aside>
    <article class="markdown-article max-w-screen-lg flex-1 py-12 pl-8 bg-white">
      <%- markdown(page.content) %>
      <footer class="flex mt-12 justify-between">
        <div class="post-prev flex-1">
          <% const prev = page.prev %>
          <% if (prev) { %>
            <a href="<%= url_for(prev.path) %>">
              上一篇：
              <%= prev.title %>
            </a>
          <% } %>
        </div>
        <div class="post-next flex-1">
          <% const next = page.next %>
          <% if (next) { %>
            <a href="<%= url_for(next.path) %>">
              下一篇：
              <span><%- next.title %></span>
            </a>
          <% } %>
        </div>
      </footer>
    </article>
  </section>
</main>