  <div id="post-page" class="flex py-12 -mt-12 rounded justify-between items-stretch bg-white">
    <aside id="post-aside">
      <div id="post-toc" class="pb-6">
        <h4 class="text-xl mb-2"><a href="#">Top：文章目录</a></h4>
        <% if (page.content) { %>
          <%- toc(page.content, {max_depth: 3}) %>
        <% } else { %>
          暂无目录
        <% } %>
      </div>
    </aside>
    <div class="toc-toggle-btn-wrapper border-r flex items-center">
      <span id="toc-toggle-btn" class="bg-gray-300 text-gray-700 py-2 rounded-l text-sm" style="writing-mode:tb-rl; cursor: pointer;">目录</span>
    </div>
    <article class="markdown-article max-w-screen-lg min-w-0 flex-1 md:pl-6 lg:pl-8 bg-white">
      <div class="">
        <%- markdown(page.content) %>
      </div>
      <footer class="flex mt-12 justify-between">
        <div class="post-prev flex-1">
          <% const prev = page.prev %>
          <% if (prev) { %>
            <a href="<%= url_for(prev.path) %>">
              上一篇：
              <%= prev.title %>
            </a>
          <% } %>
        </div>
        <div class="post-next flex-1">
          <% const next = page.next %>
          <% if (next) { %>
            <a href="<%= url_for(next.path) %>">
              下一篇：
              <span><%- next.title %></span>
            </a>
          <% } %>
        </div>
      </footer>
    </article>
  </div>

<script>
  window.addEventListener('load', function () {
    var tocToggleBtn = document.getElementById('toc-toggle-btn')
    var postAside = document.getElementById('post-aside')
    var postToc = document.getElementById('post-toc')
    postAside.addEventListener('transitionend', function () {
      if (postAside.classList.contains('hide')) {
        postToc.style.display = 'none'
      } else {
        postToc.style.display = ''
      }
    })
    tocToggleBtn.addEventListener('click', function (e) {
      if (postAside.classList.contains('hide')) {
        postAside.classList.remove('hide')
      } else {
        postToc.style.display = 'none'
        postAside.classList.add('hide')
      }
    })
  })
</script>