
<article id="post">
  <div class="post-header">
    <h1><%=page.title%></h1>
    <div class="meta">
      <span class="time">
        <%=date(page.date, "YYYY年MM月DD日")%>
      </span>
      <%- list_categories(page.categories, {
        show_count: false,
        style: 'none',
        separator: ' '
      }) %>
      <%- list_tags(page.tags, {
        show_count: false,
        style: 'none',
        separator: ' ',
        amount: 5
      }) %>
    </div>
  </div>
  <div class="post-body">
    <%-page.content%>
  </div>
  <div class="post-footer">
    <% if(page.prev){ %>
      <a class="prev-btn" href="<%- url_for(page.prev.path) %>"><%- page.prev.title %></a>
    <% } %>
    <% if(page.next) { %>
      <a class="next-btn" href="<%- url_for(page.next.path) %>"><%- page.next.title %></a>
    <% } %>
  </div>
</article>